{{#with stats}}
    <div class="row" style="margin-bottom: 10px">
        <div class="small-12 columns">
            <p><b>Attending:</b> {{this.attending}}</p>
            <p><b>Not Attending:</b> {{this.notAttending}}</p>
            <p><b>Not Rsvped:</b> {{this.notRsvped}}</p>
        </div>
    </div>
{{/with}}

{{#each payload}}
    <div class="row" style="margin-bottom: 10px;">
        <div class="small-12 columns">
            <p>{{@index}}</p>
        </div>
        {{#each this}}
            <div class="small-12 columns">
                <p><b>{{@key}}</b>:{{this}}</p>
            </div>
        {{/each}}
        </div>
    </div>
{{/each}}
